:root {
    --font-color-main: #212121;
    --font-color-secondary: #757575;
    --font-color-accent: #2196F3;
    --font-color-contrast: #FFFFFF;
    --font-color-address-main: #FFFFFF;
    --font-color-address-contact: rgba(255, 255, 255, 0.6);
    --background-color-main: #FFFFFF;
    --background-color-secondary: #F5F4FA;
    --background-color-footer: #2F303A;
    --background-color-accent: #2196F3;
    --item-color-main: #AFB1B8;
    --item-color-accent: #2196F3;
    --item-color-contrast: #FFFFFF;
    --item-bgcolor-soc: rgba(255, 255, 255, 0.1);
    --item-bgcolor-focus: #188CE8;
}