.footer {
    background-color: var(--background-color-footer);
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer__container {
    display: flex;
    
    @include up2desktop {
        flex-direction: column;
        row-gap: 60px;
        text-align: center;
        @include tablet {
            padding-left: 61px;
            padding-right: 74px;
        }
    }
    @include desktop {
        justify-content: space-between;
    }
}

.footer-thumb {
    @include tablet {
        display: flex;
        @include up2desktop {
            justify-content: space-between;
        }
    }
    @include desktop {
        column-gap: 93px;
    }
}
    
.address {
    margin-top: 20px;
}

.address__item:not(:last-child) {
    margin-bottom: 9px;
}


.address__link {
    color: var(--font-color-address-contact);
    @include font(400, 14px, 1.71, 0.03em);

    @include transition('color');

    &--main {
        color: var(--font-color-address-main);
    }

    &:hover,
    &:focus {
        color: var(--font-color-accent);
    }
}

.footer-soc {
    @include up2tablet {
        margin-top: 0px;
    }
    @include tablet {
        padding-top: 5px;
    }
    @include desktop {
        padding-top: 12px;
    }
}

.footer-soc__title {
    color: var(--font-color-address-main);
    @include font(700, 14px, 1.14, 0.03em);
    text-transform: uppercase;
    margin-bottom: 20px;
}

.footer-soc__link {
    background-color: var(--item-bgcolor-soc);
    fill: var(--item-color-contrast);
}

.footer-subscribe {
    @include desktop {
        padding-top: 12px;
    }
}

.footer-subscribe__title {
    @extend .footer-soc__title;
}

.footer-subscribe__thumb {
    @include desktop {
        @include ccflex();
            column-gap: 10px;
    }
    
}

.footer-subscribe__input {
    @include font(400, 16px, 1.25, 0.03em);

    width: 100%;
    @include mobile {
        width: 450px;
    }
    @include desktop {
        width: 358px;
    }
    
    height: 50px;
    padding: 15px;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    color: var(--font-color-contrast);

    @include transition('border-color');

    &::placeholder {
        color: var(--font-color-address-contact);
    }

    &:focus {
        border-color: var(--item-color-accent);
        outline: none;
    }
}

.footer-subscribe__btn {
    background-color: var(--background-color-accent);
    color: var(--font-color-contrast);
    fill: currentColor;
    @include font(700, 16px, 1.88, 0.06em);

    @include ccflex();
    column-gap: 10px;
    width: 200px;
    height: 50px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

    @include transition('background-color');

    &:hover,
    &:focus,
    &:active {
        background-color: var(--item-bgcolor-focus);
    }

    @include up2desktop {
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
    }
}